<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui-skin.css" />
    <style media="screen">
    .aui-list {
        margin-top: 8px;
    }
    .aui-list-item-right{
      text-align: right;
    }
    .aui-list input.input{
      width: 100%;
      font-size: 13px;
      text-align: right !important;
      display: inline !important;
    }
    .upimages{
      padding:0 15px 15px 15px;
      background: #fff;
      display: flex;
    }
    .upimages .images {
      flex: 50px 0 0;
      width: 50px;
      height: 50px;
      margin-right: 10px;
      background: #ccc;
      position: relative;
    }
    .upimages .add {
      flex: 50px 0 0;
      width: 48px;
      height: 48px;
      text-align: center;
      line-height: 48px;
      border: 1px #ccc dashed;
    }
    .upimages .badge{
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #777;
      color: #fff;
      position: absolute;
      top:-7px;
      right: -7px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .upimages .badge i{
      font-size: 10px;
    }
    .buttons{
      padding: 20px;
    }
    .buttons .longBtn {
        height: 50px;
        font-size: 15px;
        background: -webkit-linear-gradient(left, #6cdaac 50%, #5fcbcc);
        color: #fff;
        text-align: center;
        line-height: 50px;
        border-radius: 50px;
        margin-bottom: 25px;
    }
    </style>
</head>

<body>
    <div id="app" class="app">
      <ul class="aui-list aui-list-noborder aui-list-in">
          <li class="aui-list-item">
              <div class="aui-list-item-inner">
                <div class="aui-list-item-title">分类名称</div>
                <div class="aui-list-item-right">
                  <input class="input" type="text" placeholder="不超过6个字符" v-model="cateData.name">
                </div>
              </div>
          </li>
      </ul>
      <ul class="aui-list aui-list-noborder aui-list-in">
          <li class="aui-list-item">
              <div class="aui-list-item-inner">
                <div class="aui-list-item-title">分类排序</div>
                <div class="aui-list-item-right">
                  <input class="input" type="number" pattern="[0-9]*" placeholder="越大越靠前" v-model="cateData.sort">
                </div>
              </div>
          </li>
      </ul>
      <ul class="aui-list aui-list-noborder aui-list-in">
          <li class="aui-list-item">
              <div class="aui-list-item-inner">
                  <div class="aui-list-item-title">类目缩略图</div>
              </div>
          </li>
      </ul>
      <ul class="upimages">
        <li class="images" v-if="cateData.thum">
          <img :src="cateData.thum" alt="">
          <div class="badge" tapmde @click="deleteImage">
            <i class="aui-iconfont aui-icon-close"></i>
          </div>
        </li>
        <li class="add" tapmde @click="addImage" v-if="!cateData.thum">
          <i class="ali-iconfont icon-tianjiatupian" style="font-size:30px;color:#777"></i>
        </li>
      </ul>
      <ul class="aui-list aui-list-in">
          <li class="aui-list-item">
              <div class="aui-list-item-inner">
                  <div class="aui-list-item-title">请选择父分类</div>
              </div>
          </li>
          <li class="aui-list-item">
              <div class="aui-list-item-inner">
                  <div class="aui-list-item-title">
                    <span tapmde @click="changeAllCate">顶级分类</span>
                    <span v-for="(select,index) in thisSelect" tapmde @click="changeFCate(select,index)" v-key="select">
                      <i class="aui-iconfont aui-icon-right"></i>
                      <span v-text="select.name"></span>
                    </span>
                  </div>
                  <div class="aui-list-item-right" v-text="showText" @click="targetAll"></div>
              </div>
          </li>

          <li class="aui-list-item" v-for="(cate,key) in cateTree" v-key="cate" tapmde @click="selecCate(cate)">
              <div class="aui-list-item-inner">
                  <div class="aui-list-item-title">
                    <span v-text="cate.name"></span>
                    <i v-if="cate.is_has_child" class="aui-iconfont aui-icon-right"></i>
                  </div>
              </div>
          </li>
      </ul>
      <div class="buttons">
          <div class="longBtn" id="btn" tapmde @click="send">新增分类</div>
      </div>
    </div>
</body>
<script src="../../script/api.js"></script>
<script src="../../script/vue.min.js"></script>
<script src="../../script/fastclick.js"></script>
<script src="../../script/app.js"></script>
<script>
    window.addEventListener('load', function() {
        FastClick.attach(document.querySelector('.longBtn'));
        FastClick.attach(document.querySelector('.add'));
    }, false);
    apiready = function() {
        api.parseTapmode();
        if(api.pageParam && api.pageParam.type == 'edit'){
          $api.text($api.byId('btn'), '修改分类')
        }else if(api.pageParam && api.pageParam.type == 'add'){
          $api.text($api.byId('btn'), '新增分类')
        }
        // 编辑模式传递过来的 id
        var editId = api.pageParam.id;
        // vue 控制
        var app = new Vue({
            el: '#app',
            data: {
              changeThis:true,
              showText:'',
              cateTree:[],
              thisSelect:[],
              cateData:{
                name:'',
                thum:'',
                pid:0,
                sort: '',
                status:1,
              }
            },
            computed: {

            },
            methods: {
              changeAllCate:function(){
                var that = this;
                that.cateData.pid = 0;
                that.thisSelect = [];
                that.getChildCateTree(0)
              },
              changeFCate:function(select,index){
                var that = this;
                if(select.id == that.cateData.pid){
                  return;
                }
                that.cateData.pid = select.id;
                if(index < that.thisSelect.length){
                  that.thisSelect = that.thisSelect.slice(0,index+1);
                  that.cateTree = [];
                  that.getChildCateTree(select.id);
                }
              },
              selecCate:function(cate){
                var that = this;
                that.thisSelect.push(cate);
                that.cateData.pid = cate.id;
                if(cate.is_has_child){
                  that.getChildCateTree(cate.id);
                }else {
                  that.cateTree = [];
                }
              },
              targetAll:function(){
                if(api.pageParam.type == 'edit' && this.changeThis){
                  this.showText='当前';
                  this.changeThis = false;
                  this.changeAllCate();
                }else {
                  return;
                }
              },
              deleteImage:function(){
                var that = this;
                api.confirm({
                    title: '提示',
                    msg: '确定要删除缩略图吗？',
                    buttons: ['确定', '取消']
                }, function(ret, err) {
                   if(ret.buttonIndex == 1){
                     that.cateData.thum = '';
                   }
                });
              },
              addImage:function(){
                var that = this
                api.actionSheet({
                    cancelTitle: '取消',
                    buttons: ['拍照', '图库']
                }, function(ret, err) {
                    var index = ['','camera', 'library'];
                    if (ret.buttonIndex == 3) {
                        return
                    }
                    api.getPicture({
                        sourceType: index[ret.buttonIndex],
                        encodingType: 'jpg',
                        mediaValue: 'pic',
                        destinationType: 'url',
                        allowEdit: true,
                        quality: 50,
                        saveToPhotoAlbum: false
                    }, function(ret, err) {
                        if (ret) {
                            $app.ajax({
                                url: $app.apiUrl.uploadFile,
                                type:'files',
                                data:{
                                  file:ret.data
                                },
                                values:{
                                  save_path: '/public/upload/applet/',
                                  is_rename: false
                                }
                            }).then(function(ret) {
                                that.cateData.thum = ret.data.host_file_path;
                            })
                        } else {

                        }
                    });
                });
              },
              send:function(){
                var that = this;
                var url;
                var data = {
                  name:that.cateData.name,
                  thum:that.cateData.thum,
                  pid:that.cateData.pid,
                  sort:that.cateData.sort,
                  status:that.cateData.status
                };
                if(api.pageParam.type == 'edit'){
                  url = $app.apiUrl.cateUpdate;
                  data.id = that.cateData.id;
                }else if (api.pageParam.type == 'add') {
                  url = $app.apiUrl.cateSave;
                }
                $app.ajax({
                  url:url,
                  data:data
                }).then(function(ret){
                   $app.toast(ret.msg)
                   api.sendEvent({
                       name: 'refreshCate'
                   });
                   setTimeout(function() {
                       api.closeWin();
                   }, 1000)
                })
              },
              getChildCateTree:function(pid){
                var that = this;
                $app.ajax({
                  url:$app.apiUrl.cateReadChild,
                  data:{
                    pid:pid
                  }
                }).then(function(ret){
                  that.cateTree = ret.data
                })
              },
              readCateDetail:function(id){
                var that = this;
                $app.ajax({
                  url:$app.apiUrl.cateRead,
                  data:{
                    id:id
                  }
                }).then(function(ret){
                  that.cateData = ret.data;
                  that.reGetThisSelect(ret.data.pid)
                })
              },
              reGetThisSelect:function(pid){
                var that = this;
                if(pid == 0){
                  return;
                }
                $app.ajax({
                  url:$app.apiUrl.cateRead,
                  data:{
                    id:pid
                  }
                }).then(function(ret){
                  that.thisSelect.unshift(ret.data);
                  that.reGetThisSelect(ret.data.pid)
                })
              }
            },
            watch: {

            },
            mounted:function(){
              if(api.pageParam.type == 'edit'){
                this.showText='重选';
                this.readCateDetail(editId);
              }else if (api.pageParam.type == 'add') {
                this.getChildCateTree(0);
                this.showText='当前';
              }
            }
        });

        api.addEventListener({
            name: 'deleteCate'
        }, function(){
          $app.ajax({
            url:$app.apiUrl.cateDelete,
            data:{
              id:app.$data.cateData.id
            }
          }).then(function(ret){
            $app.toast(ret.msg)
            api.sendEvent({
                name: 'refreshCate'
            });
            setTimeout(function() {
                api.closeWin();
            }, 1000)
          })
        });
    };
</script>

</html>
